*{
    margin: 0;
    padding: 0;
}
img{
    display: block;
}
body{
    background-color: #dedede;
}
header img {
    width: 100%;
    height: 600px;
}
.menu{
    background-color: #fff;
    height: 30px;
    line-height: 30px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.box{
    width: 1000px;
    margin: 0 auto;
}
.box .leftBox{
    width: 700px;
    float: left;
    background-color: #ccc;
    box-sizing: border-box;
}
.box .leftBox{
    background-color: #fff;
    padding: 10px;
}
.box .leftBox .article {
    margin-bottom: 30px;
    height: 100px;
    padding: 30px;
    background-color: #fff;
}
.box .rightBox-wrap{
    width: 200px;
    float: left;
    margin-left: 100px;
    box-sizing: border-box;
}
.box .rightBox-wrap .rightBox {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
}