 {%extends 'layout.html'%}

 {%block content%}

 {%for content in contents%}

<div class="article">
    <h1 class="title">{{content.title}}</h1>
    <p class="subtitle">
        作者<span>{{content.user.username}}</span> 时间
        <span>{{ content.addTime |date('Y-m-d H:i:s',-8*60)}}</span> 阅读
        <span>{{content.view}}</span> 评论
        <span>{{content.view}}</span>
    </p>
    <p class="content">
        {{content.description}}
    </p>
    <div class="read">
        <a href="/view?contentid={{content.id}}">阅读全文</a>
    </div>
</div>
{%endfor%}

<!--分页-->
<ul class="pages">
    {%if page
    <=1 %} <li><span>没有上一页了</span></li>
        {%else%}
        <li><a href="/?categry={{categry}}&page={{page-1}}">上一页</a></li>
        {%endif%}
        <li><a href="javascript:;">{{page}}/{{pages}}</a></li>
        <li>

            {%if page >= pages%}
            <span>没有下一页了</span> {%else%}
            <a href="/?categry={{categry}}&page={{page-1}}">下一页</a> {%endif%}
        </li>
</ul>
 {%endblock%}